#
# jesd204 configuration
#
#
menuconfig JESD
	bool "Jesd drivers"
	depends on HAS_IOMEM
	help
	  dfe configuration for jesd drivers, for now only jesd204 drvier
	  is supported. Any further jesd defined protocol drivers shall be
	  appened in here.
if JESD

config DFE_JESD204
	bool "Jesd204"
	help
	  For jesd204 ip to get enable we need this for the configuration
	  upon this includes the phygasket. Each of the two transport can
	  can accomidate a max of 2 lanes in combination.
	  Transport 1 --> 2 lanes max
	  Transport 2 --> 1 lane max

endif #jesd
