#
# Miscellaneous DD4400-specific timer base generator (TBGEN) device
#
#
menu "TBGEN Device"
	depends on HAS_IOMEM

config TBGEN
	bool "Tbgen"
	help
	  TBGEN DD4400 configuration, shall be the main clock configuration
	  for jesd204 from the 10ms framer clock. This shall be base for the
	  clock generation for the jesd204 and vsp ip's.
	  For tbgen ip to get enable we need this for the configuration of
	  jesd204, and align the timers in reference to 10ms radio frame.

endmenu
