menu "Freescale D4400 support"
	depends on ARCH_D4400

comment "Device tree only"

config HAVE_D4400_GPC
	bool

config SOC_D4400
	bool "D4400 support"
	select ARM_GIC
	select COMMON_CLK
	select PINCTRL
	select PINCTRL_D4400
	select HAVE_D4400_GPC
	select GCR_DEV
	select CPU_V7
	help
	  This enables support for Freescale D4400 processor.

endmenu

config BOARD_EVB
       tristate "EVB board"
       depends on SOC_D4400
       default n
       help
         EVB board support for Freescale D4400 processor

config BOARD_4T4R
       tristate "POC board"
       depends on SOC_D4400
       default n
       help
         4T4R board support for Freescale D4400 processor

config BOARD_4T4RK1
       tristate "POC 4T4RK1 board"
       depends on SOC_D4400
       default n
       help
         4T4RK1 board support for NXP D4400 processor

config  D4400_QSPI_NUMONYX_BUG_WORKAROUND
       tristate "D4400 qspi Numonyx bug workaround"
       depends on SOC_D4400
       depends on (BOARD_4T4R || BOARD_4T4RK1)
       default n
       help
         Work around qspi bug with erase cmd in Numonyx mode

config SERDES_D4400
       tristate "SerDes driver"
       depends on SOC_D4400
       help
       SerDes driver for Freescale D4400 processor
	The SerDes module implements link serialization/deserialization
	functions for high speed serial interfaces from 1.2288 Gbaud to
	9.8304 Gbaud

config SRC_D4400
       tristate "System reset controller driver"
       depends on SOC_D4400
       help
       System reset controller driver  for Freescale D4400 processor

