/*
 * Copyright (C) 2013 Freescale Semiconductor, Inc.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */
/dts-v1/;

/include/ "d4400.dtsi"

/ {
	model = "D4400 4T4RK1 Board";
	compatible = "fsl,d4400";

	aliases {
		cpri0ethernet0 = &cp1_framer1;
		cpri1ethernet0 = &cp2_framer1;
	};

        memory {
                reg = <0x90000000 0x60000000>;
        };

        soc@0 {
                aips-bus@1000000 { /* AIPS1 */

                        uart1: serial@ec000 {
                                pinctrl-names = "default";
                                pinctrl-0 = <&pinctrl_uart1_1>;
                                status = "okay";
                        };

                        uart2: serial@f0000 {
                                pinctrl-names = "default";
                                pinctrl-0 = <&pinctrl_uart2_1>;
                                status = "okay";
                        };

                        uart3: serial@f4000 {
                                pinctrl-names = "default";
                                pinctrl-0 = <&pinctrl_uart3_1>,
					<&pinctrl_rs485_dir_1>;
                                status = "okay";
				fsl,rs485-enable = <&gpioB 2 0>;
                        };

                        uart4: serial@f8000 {
                                pinctrl-names = "default";
                                pinctrl-0 = <&pinctrl_uart4_1>;
                                status = "okay";
                        };

			ecspi@A4000 {
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_ecspi1_1>;
				fsl,spi-num-chipselects = <3>;
			};

			ecspi@AC000 {
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_ecspi3_1>;
				fsl,spi-num-chipselects = <3>;
			};

			/* spi-gpio is used in place of ecspi5 due
			 * to miso/mosi signal swap in 4t4r board.
			 */

			ecspi@BC000 {
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_ecspi7_1>;
				fsl,spi-num-chipselects = <2>;
			};

			ecspi@C0000 {
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_ecspi8_1>;
				fsl,spi-num-chipselects = <3>;
			};

			i2c1: i2c@C4000 {
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_i2c1_1>;

				cpriphy0: sfp0@50 {
					id = <0>;
					compatible = "sfp-dev";
					reg = <0x50 0x51>;
					max-addr = <0x2>;
					gpio-sfp-txdisable = <&gpioB 0 0>;
					gpio-sfp-txfault = <&gpioA 8 0>;
					gpio-sfp-prs = <&gpioA 10 0>;
					gpio-sfp-rxlos = <&gpioA 9 0>;
					pinctrl-names = "default";
					pinctrl-0 = <&pinctrl_sfp1_1>;
				};

			};

			i2c2: i2c@C8000 {
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_i2c2_1>;
			};

			i2c3: i2c@CC000 {
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_i2c3_1>;

				cpriphy2: sfp2@50 {
					id = <2>;
					compatible = "sfp-dev";
					reg = <0x50 0x51>;
					max-addr = <0x2>;
					gpio-sfp-txdisable = <&gpioB 1 0>;
					gpio-sfp-txfault = <&gpioA 11  0>;
					gpio-sfp-prs = <&gpioA 13  0>;
					gpio-sfp-rxlos = <&gpioA 12  0>;
					pinctrl-names = "default";
					pinctrl-0 = <&pinctrl_sfp2_1>;

				};
			};

			cpri@0x100000 {

				cp1_framer1: framer1@0x0 {
					reg = <0x0 0x8000>;
					framer-id = <0>;
					max-axcs = <24>;
					memblk-size = <0x1800>;
					local-mac-address = [ 00 00 AB CD 21 AB ];
					interrupts = <0 71 0x04>,
						<0 73 0x04>,
						<0 75 0x04>,
						<0 77 0x04>;
					sfp-handle = <&cpriphy0>;
					serdes-handle = <&serdes3 2>;
				};
			};
                };
                aips-bus@1200000 { /* AIPS2 */
                        #address-cells = <1>;
                        #size-cells = <1>;

			i2c5: i2c@DC000 {
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_i2c5_1>;
			};

			i2c6: i2c@E0000 {
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_i2c6_1>;
			};

			i2c7: i2c@E4000 {
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_i2c7_1>;
			};

			i2c9: i2c@EC000 {
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_i2c9_1>;

				adt7461@4c {
					compatible = "adi,adt7461";
					reg = <0x4c>;
				};

				system_eeprom: eeprom@54 {
					reg = <0x54>;
					compatible = "system_eeprom";
					pagesize = <128>;
					bytesize = <65536>;
				};

                                ir36021@78 {
                                        compatible = "ir,ir36021";
                                        reg = <0x78>;
                                };
			};

			i2c10: i2c@F0000 {
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_i2c10_1>;
			};

			i2c11: i2c@F4000 {
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_i2c11_1>;
			};

			cpri@0x100000 {

				cp2_framer1: framer1@0x0 {
					reg = <0x0 0x8000>;
					framer-id = <0>;
					max-axcs = <24>;
					memblk-size = <0x1800>;
					local-mac-address = [ 00 00 AB CD 21 EF ];
					interrupts = <0 84 0x04>,
						<0 86 0x04>,
						<0 88 0x04>,
						<0 90 0x04>;
					sfp-handle = <&cpriphy2>;
					serdes-handle = <&serdes3 4>;
		                };
			};
		};

		aips-bus@4000000 { /* AIPS3 */

                        iomuxc@8c000 {

				// 4t4r uart1 AISG PA
				uart1_pins {
					pinctrl_uart1_1: uart1grp-1 {
						fsl,pins = <
							325 0x80000000    /* D4400_PAD_UART1_TXD_UART_1_TXD */
							329 0x80000000    /* D4400_PAD_UART1_RXD_UART_1_RXD */
                                                >;
					};
				};

				// 4t4r uart2 AISG RET
				uart2_pins {
					pinctrl_uart2_1: uart2grp-1 {
						fsl,pins = <
							333 0x80000000    /* D4400_PAD_UART2_TXD_UART_2_TXD */
							337 0x80000000    /* D4400_PAD_UART2_RXD_UART_2_RXD */
                                                >;
					};
				};

				// 4t4r uart3 rs-485
				uart3_pins {
					pinctrl_uart3_1: uart3grp-1 {
						fsl,pins = <
							341 0x80000000    /* D4400_PAD_UART3_TXD_UART_3_TXD */
							345 0x80000000    /* D4400_PAD_UART3_RXD_UART_3_RXD */
                                                >;
					};
				};

				// 4t4rk1 uart4 linux console
                                uart4 {
                                        pinctrl_uart4_1: uart4grp-1 {
                                                fsl,pins = <
                                                        350 0x80000000    /* D4400_PAD_UART4_TXD_UART_4_TXD */
                                                        356 0x80000000    /* D4400_PAD_UART4_RXD_UART_4_RXD */
                                                >;
                                        };
                                };

                                sfpctrl_pins {
                                        pinctrl_sfp1_1: sfp1grp-1 {
                                                fsl,pins = <
							/* cpri1 sfp */
                                                        633 0x80000000    /* D4400_PAD_GPIOB0_GPIOB_0 */
                                                        529 0x80000000    /* D4400_PAD_GPIOA8_GPIOA_8 */
                                                        533 0x80000000    /* D4400_PAD_GPIOA9_GPIOA_9 */
                                                        537 0x80000000    /* D4400_PAD_GPIOA10_GPIOA_10 */
                                                >;
                                        };
                                        pinctrl_sfp2_1: sfp2grp-1 {
                                                fsl,pins = <
							/* cpri2 sfp */
                                                        640 0x80000000    /* D4400_PAD_GPIOB1_GPIOB_1 */
                                                        540 0x80000000    /* D4400_PAD_GPIOA11_GPIOA_11 */
                                                        543 0x80000000    /* D4400_PAD_GPIOA12_GPIOA_12 */
                                                        546 0x80000000    /* D4400_PAD_GPIOA13_GPIOA_13 */
                                                >;
                                        };
                                };

                                rs485_dir_pins {
                                        pinctrl_rs485_dir_1: rs485dirgrp-1 {
                                                fsl,pins = <
                                                        648 0x80000000    /* D4400_PAD_GPIOB2_GPIOB_2 */
                                                >;
                                        };
                                };

                                rxlna_8vbias_pins {
                                        pinctrl_rxlna_8vbias_1: grp-1 {
                                                fsl,pins = <
							/* Rx LNA 8v enable control, output, active low */
                                                        685 0x80000000    /* D4400_PAD_GPIOB8_GPIOB_8 */
                                                        691 0x80000000    /* D4400_PAD_GPIOB9_GPIOB_9 */
                                                        697 0x80000000    /* D4400_PAD_GPIOB10_GPIOB_10 */
                                                        703 0x80000000    /* D4400_PAD_GPIOB11_GPIOB_11 */
							/* Rx LNA 8v power good status, input, active low */
                                                        709 0x80000000    /* D4400_PAD_GPIOB12_GPIOB_12 */
                                                        715 0x80000000    /* D4400_PAD_GPIOB13_GPIOB_13 */
                                                        721 0x80000000    /* D4400_PAD_GPIOB14_GPIOB_14 */
                                                        727 0x80000000    /* D4400_PAD_GPIOB15_GPIOB_15 */
                                                >;
                                        };
                                };

                                leds_pins {
                                        pinctrl_leds_1: ledsgrp-1 {
                                                fsl,pins = <
                                                        661 0x80000000    /* D4400_PAD_GPIOB4_GPIOB_4 */
                                                        667 0x80000000    /* D4400_PAD_GPIOB5_GPIOB_5 */
                                                        745 0x80000000    /* D4400_PAD_GPIOB18_GPIOB_18 */
                                                        751 0x80000000    /* D4400_PAD_GPIOB19_GPIOB_19 */
                                                >;
                                        };
                                };

                                rmii_pins {
                                        pinctrl_rmii_1: rmiigrp-1 {
                                                fsl,pins = <
                                                        1141 0x80000000    /* D4400_PAD_GPIOD8_TSEC1_RXD0 */
                                                        1025 0x80000000    /* D4400_PAD_GPIOC24_TSEC1_RXD_1 */
							1048 0x80000000    /* D4400_PAD_GPIOC27_TSEC1_RX_ERR */
							1064 0x80000000    /* D4400_PAD_GPIOC29_TSEC1_TX_CLK */
							1072 0x80000000    /* D4400_PAD_GPIOC30_TSEC1_TXD0 */
							1080 0x80000000    /* D4400_PAD_GPIOC31_TSEC1_TXD1 */
							1106 0x80000000    /* D4400_PAD_GPIOD3_TSEC1_TXEN */
							1134 0x80000000    /* D4400_PAD_GPIOD7_TSEC1_RX_DV */
							1147 0x80000000    /* D4400_PAD_TSEC_MDC_ETSEC_MDC */
							1150 0x80000000    /* D4400_PAD_TSEC_MDIO_ETSEC_MDIO */
                                                >;
                                        };
                                };

				pa_control {

					pinctrl_pa_con2: pacongrp-2 {
                                                fsl,pins = <
							/* Alarm */
							518 0x80000000     /* D4400_PAD_GPIOA6_GPIOA_6 */
							524 0x80000000     /* D4400_PAD_GPIOA7_GPIOA_7 */

							/* PSU EN */
							673 0x80000000     /* D4400_PAD_GPIOB6_GPIOB_6 */
							679 0x80000000     /* D4400_PAD_GPIOB7_GPIOB_7 */

							/* OBS SEL */
							811 0x80000000     /* D4400_PAD_GPIOB28_GPIOB_28 */
							818 0x80000000     /* D4400_PAD_GPIOB29_GPIOB_29 */
							825 0x80000000     /* D4400_PAD_GPIOB30_GPIOB_30 */
							832 0x80000000     /* D4400_PAD_GPIOB31_GPIOB_31 */

							/* TX_EN, TRX_SW */
							878 0x80000000     /* D4400_PAD_GPIOC5_GPIOC_5 */
							894 0x80000000     /* D4400_PAD_GPIOC7_GPIOC_7 */
							942 0x80000000     /* D4400_PAD_GPIOC13_GPIOC_13 */
							958 0x80000000     /* D4400_PAD_GPIOC15_GPIOC_15 */

							/* Spare1 SPI4 */
							238 0x80000000     /* D4400_PAD_SPI4_CLK_GPIOD_28 */

							/* Spare2 SPI4 */
							/* Conflicts with spi5-clk because spi5 is spi-gpio
							 * which sets spi5-clk mux to gpioD29.  So gpioD29
							 * cannot be used here as gpio spare.
							 */
							//241 0x80000000     /* D4400_PAD_SPI4_SS0_GPIOD_29 */

							/* SS2 */
							/* Conflicts with spi8 ss2 */
							//501 0x80000000     /* D4400_PAD_GPIOA3_GPIOA_3 */

							/* LNA_CTL */
							/* LNA signals are currently unused and conflicts
							 * with ADI ROC2 cs-gpios gpioC20/22/23.
							 */
							//996 0x80000000     /* D4400_PAD_GPIOC20_GPIOC_20 */
							//1003 0x80000000    /* D4400_PAD_GPIOC21_GPIOC_21 */
							//1010 0x80000000    /* D4400_PAD_GPIOC22_GPIOC_22 */
							//1017 0x80000000    /* D4400_PAD_GPIOC23_GPIOC_23 */
                                                >;
					};
				};

                                ad9525_gpiospi_pins {
                                        pinctrl_ad9525_gpiospi_1: ad9525gpiospigrp-1 {
                                                fsl,pins = <
                                                        247 0x80000000    /* D4400_PAD_SPI5_MOSI_GPIOE_8 */
                                                        251 0x80000000    /* D4400_PAD_SPI5_MISO_GPIOE_9 */
                                                        254 0x80000000    /* D4400_PAD_SPI5_CLK_GPIOD_29 */
                                                        257 0x80000000    /* D4400_PAD_SPI5_SS0_GPIOD_30 */
                                                >;
                                        };
                                };
			};

			mdio@084000 {
				phy0: smsc-phy@0 {
					reg = <3>;
					device_type = "ethernet-phy";
				};

				tbi0: tbi-phy@10 {
					device_type = "tbi-phy";
					reg = <0x10>;
				};
			};

			qspi@0A8000 {
				flash0: mt25ql01g@0 {
					#address-cells = <1>;
					#size-cells = <1>;
					compatible = "micron,mt25ql01g";
					spi-max-frequency = <50000000>;
					io-mode = <4>; /* 1-single, 4-quad IO */

					/* 128MB flash */
					partition@0 {
						/* U-Boot Image-512KB */
						reg = <0x0 0x00080000>;
						label = "bootloader";
						read-only;
					};
					partition@00080000 {
						/* Env variables, 64KB, area 1*/
						reg = <0x000080000 0x00010000>;
						label = "environment-1";
					};
					partition@00090000 {
						/* Env variables, 64KB, area 2*/
						reg = <0x000090000 0x00010000>;
						label = "environment-2";
					};
					partition@000A0000 {
						/* U-Boot Redundant Image-512KB */
						reg = <0x000A0000 0x00080000>;
						label = "redundant-bootloader";
						read-only;
					};
					partition@00120000 {
						/* 64MB for Linux image */
						reg = <0x00120000 0x04000000>;
						label = "kernel";
					};
					partition@04120000 {
						/* 62.875 MB for JFFS2 based Root file System */
						reg = <0x04120000 0x03EE0000>;
						label = "filesystem";
					};
				};
			};
		};

		fsl-d4400-sys {
			compatible = "fsl,d4400-sys";
			eeprom-handle =<&system_eeprom>;
			gpio-led1 = <&gpioB 4  0>;
			gpio-led2 = <&gpioB 5  0>;
			gpio-led3 = <&gpioB 18  0>;
			gpio-led4 = <&gpioB 19  0>;

			pa_con2 = <&gpioA 6 0>, /* PA_ALARM1_B */
				<&gpioA 7 0>,	/* PA_ALARM2_B */
				<&gpioB 6 0>,	/* PA_PSU_EN1*/
				<&gpioB 7 0>,	/* PA_PSU_EN2 */
				<&gpioB 28 0>,	/* PA_OBS_SEL1A */
				<&gpioB 29 0>,	/* PA_OBS_SEL1B */
				<&gpioB 30 0>,	/* PA_OBS_SEL2A */
				<&gpioB 31 0>,	/* PA_OBS_SEL2B */
				<&gpioC 5 0>,	/* PA_TX_EN1 */
				<&gpioC 7 0>,	/* PA_TX_EN2 */
				<&gpioC 13 0>,	/* PA_TRX_SW1 */
				<&gpioC 15 0>,	/* PA_TRX_SW2 */
				<&gpioD 28 0>;	/* PA_SPARE1 */
				//<&gpioD 29 0>;	/* PA_SPARE2 */
				//<&gpioA 3 0>,		/* PA_SS2 */
				//<&gpioC 20 0>,	/* PA_LNA_CTL_1A */
				//<&gpioC 21 0>,	/* PA_LNA_CTL_1B */
				//<&gpioC 22 0>,	/* PA_LNA_CTL_2A */
				//<&gpioC 23 0>;	/* PA_LNA_CTL_2B */

			rx_8vbias_en = <&gpioB 8 0>, /* Rx1 LNA 8v enable, out, active low */
				<&gpioB 9 0>, /* Rx2 LNA 8v enable, out, active low */
				<&gpioB 10 0>, /* Rx3 LNA 8v enable, out, active low */
				<&gpioB 11 0>; /* Rx4 LNA 8v enable, out, active low */
			rx_8vbias_stat = <&gpioB 12 0>, /* Rx1 LNA 8v status, in, active low */
				<&gpioB 13 0>, /* Rx2 LNA 8v status, in, active low */
				<&gpioB 14 0>, /* Rx3 LNA 8v status, in, active low */
				<&gpioB 15 0>; /* Rx4 LNA 8v status, in, active low */

			pinctrl-names = "default";
                        pinctrl-0 = <&pinctrl_leds_1>,
				<&pinctrl_rmii_1>,
                                <&pinctrl_ad9525_gpiospi_1>,
				<&pinctrl_pa_con2>,
				<&pinctrl_rxlna_8vbias_1>;
		};

		/* Spi gpio used in place of ecspi5 due to miso/mosi
		 * signal swap on 4T4R POC.  Signals gpio-sck, gpio-miso,
		 * gpio-mosi, and cs-gpios are added as dynamic overlays.
		 */
                spi_gpio: spi_gpio@5 {
                        compatible = "spi-gpio";
                        #address-cells = <1>;
                        #size-cells = <0>;
                        num-chipselects = <1>;

                        /* spidev driver */
                        jcpll_gpio: ad9525_gpio@0 {
                                compatible = "adi,ad9525";
                                spi-max-frequency = <20000000>;
                                reg = <0x0>;	/* Ending chip select:
						 * 0-one cs, 1-two cs, etc.
						 */
                                /* spi-cpha; */
                                /* spi-cpol; */
                                /* spi-cs-high; */
                        };
                };

                xcvr_if: xcvr_if@1 {
			compatible = "fsl,xcvr-interface";

			xcvr-roc1 {
				#address-cells = <1>;
				#size-cells = <1>;
				platform-drv-name = "roc_misc_driver";
				/* FMC connector: 0-none, 1-fmc1, 2-fmc2, 3-fmc1 & fmc2 */
				connector-fmc = <1>;
				interrupt-parent = <&gpioA>;
				interrupts = <16 0x04>,
					<17 0x04>;
				id = <1>;
				cs-gpios = <&gpioC 16 0>,
					<&gpioC 18 0>,
					<&gpioC 19 0>;
				tx-reset = <5>;
				rx-reset = <3>;

				eeprom-handle =<&system_eeprom>;
				ipmi-mfg-str = "Freescale", "NXP", "Custom";
				ipmi-name-str =
					"FSL D4400 4T4R Reference Board",
					"NXP D4400-4T4R21 System",
					"NXP D4400-21RRH2W5 System",
					"Custom0 System",
					"NXP AFD4400-4T4RK1 System";
			};

			xcvr-roc2 {
				#address-cells = <1>;
				#size-cells = <1>;
				platform-drv-name = "roc_misc_driver";
				/* FMC connector: 0-none, 1-fmc1, 2-fmc2, 3-fmc1 & fmc2 */
				connector-fmc = <2>;
				interrupt-parent = <&gpioA>;
				interrupts = <18 0x04>,
					<19 0x04>;
				id = <2>;
				cs-gpios = <&gpioC 20 0>,
					<&gpioC 22 0>,
					<&gpioC 23 0>;
				tx-reset = <6>;
				rx-reset = <4>;

				eeprom-handle =<&system_eeprom>;
				ipmi-mfg-str = "Freescale", "NXP", "Custom";
				ipmi-name-str =
					"FSL D4400 4T4R Reference Board",
					"NXP D4400-4T4R21 System",
					"NXP D4400-21RRH2W5 System",
					"Custom0 System",
					"NXP AFD4400-4T4RK1 System";
			};
                };
        };

	landshark@0xc000000 { /* LandShark */
		compatible = "fsl,landshark";
		address = <0xc0000000>;
		length = <0x10000000>;
		status = "okay";
	};
};
