/*
 * Copyright (C) 2013 Freescale Semiconductor, Inc.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */
/dts-v1/;

/include/ "d4400.dtsi"

/ {
	model = "D4400 Evaluation Board";
	compatible = "fsl,d4400";

        memory {
                reg = <0x90000000 0x60000000>;
        };


        soc@0 {

                aips-bus@1000000 { /* AIPS1 */
                        uart4: serial@f8000 {
                                pinctrl-names = "default";
                                pinctrl-0 = <&pinctrl_uart4_1>;
                                status = "okay";
                        };
			ecspi@A4000 {
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_ecspi1_1>;
				fsl,spi-num-chipselects = <3>;

				adrx1: ad9368-1@2 {
					compatible = "adi,ad9368-1";
					spi-max-frequency = <20000000>;
					reg = <2>;
				};
				adtx1: ad9368-2@0 {
					compatible = "adi,ad9368-2";
					spi-max-frequency = <20000000>;
					reg = <0>;
				};
				clkgen1: ad9525@1 {
					compatible = "adi,ad9525";
					spi-max-frequency = <20000000>;
					reg = <1>;
				};
			};

			ecspi@AC000 {
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_ecspi3_1>;
				fsl,spi-num-chipselects = <3>;

				adrx2: ad9368-1@2 {
					compatible = "adi,ad9368-1";
					spi-max-frequency = <20000000>;
					reg = <2>;
				};
				adtx2: ad9368-2@0 {
					compatible = "adi,ad9368-2";
					spi-max-frequency = <20000000>;
					reg = <0>;
				};
				clkgen2: ad9525@1 {
					compatible = "adi,ad9525";
					spi-max-frequency = <20000000>;
					reg = <1>;
				};
			};

			i2c1: i2c@C4000 {
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_i2c1_1>;

				pca9555: pca9555@24 {
					compatible = "nxp,pca9555";
					gpio-controller;
					#gpio-cells = <2>;
					reg = <0x24>;
				};

				cpriphy0: sfp0@50 {
					compatible = "sfp-dev";
					reg = <0x50>;
					max-addr = <0x1>;
					gpio-sfp-txdisable= <&pca9555 0 0>;
					gpio-sfp-txfault = <&pca9555 1 0>;
					gpio-sfp-prs = <&pca9555 2 0>;
					gpio-sfp-rxlos = <&pca9555 3 0>;
					};
			};

			i2c2: i2c@C8000 {
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_i2c2_1>;

				cpriphy1: sfp1@50 {
					compatible = "sfp-dev";
					reg = <0x50>;
					max-addr = <0x1>;
					gpio-sfp-txdisable= <&pca9555 4 0>;
					gpio-sfp-txfault = <&pca9555 5 0>;
					gpio-sfp-prs = <&pca9555 6 0>;
					gpio-sfp-rxlos = <&pca9555 7 0>;
					};

			};

			i2c3: i2c@CC000 {
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_i2c3_1>;

				cpriphy2: sfp2@50 {
					compatible = "sfp-dev";
					reg = <0x50>;
					max-addr = <0x1>;
					gpio-sfp-txdisable = <&pca9555 8 0>;
					gpio-sfp-txfault = <&pca9555 9 0>;
					gpio-sfp-prs = <&pca9555 10 0>;
					gpio-sfp-rxlos = <&pca9555 11 0>;
					};

			};

                };
                aips-bus@1200000 { /* AIPS2 */
                        #address-cells = <1>;
                        #size-cells = <1>;

			i2c5: i2c@DC000 {
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_i2c5_1>;

				cpriphy3: sfp3@50 {
			      		compatible = "sfp-dev";
				      	reg = <0x50>;
				      	max-addr = <0x1>;
				      	gpio-sfp-txdisable = <&pca9555 12 0>;
				      	gpio-sfp-txfault = <&pca9555 13 0>;
			      		gpio-sfp-prs = <&pca9555 14 0>;
				      	gpio-sfp-rxlos = <&pca9555 15 0>;
			      	};

			};

			i2c11: i2c@F4000 {
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_i2c11_1>;

				pca9547: pca9547@70 {
					compatible = "nxp,pca9547";
					reg = <0x70>;
                    #address-cells = <1>;
                    #size-cells = <0>;

                    i2c@0 {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <0>;

                        rtc:rtc@68{
                            compatible = "dallas,ds3232";
                            reg = <0x68>;
                        };
			eeprom@54 {
                            compatible = "at24,24c02";
                            pagesize = <16>;
                            reg = <0x54>;
                        };
		        adt7461@4c {
                            compatible = "adi,adt7461";
                            reg = <0x4c>;
			};

                    };
                };
		    };
	    };


                weim-bus@30000000 {
                        nor_flash@0 {
                                compatible = "cfi-flash";
                                bank-width = <2>;
				/* 256MB of NOR Flash memory*/
                                reg = <0x00000000 0x08000000
					0x08000000 0x08000000>;
                                #address-cells = <1>;
                                #size-cells = <1>;
                                status = "okay";

                                partition@0 {
                                        /* This location must not be altered */
                                        /* NOR U-Boot Image-512KB */
                                        reg = <0x0 0x00080000>;
                                        label = "bootloader";
                                        read-only;
                                };
                                partition@00080000 {
                                        /* 128KB of env variables*/
                                        reg = <0x000080000 0x00020000>;
                                        label = "environment";
                                };
                                partition@000A0000 {
                                        /* 128KB of redundant env variables*/
                                        reg = <0x000A0000 0x00020000>;
                                        label = "redundant-environment";
                                };
                                partition@000C0000 {
                                        /* This location must not be altered */
                                        /* U-Boot Redundant Image-512KB */
                                        reg = <0x000C0000 0x00080000>;
                                        label = "bootloader";
                                        read-only;
                                };
                                partition@00140000 {
                                        /* 63 MB for Linux Kernel FIT Image */
                                        reg = <0x00140000 0x03F00000>;
                                        label = "kernel";
                                };
                                partition@04040000 {
                                        /* 63 MB for Linux Kernel FIT Redundant Image */
                                        reg = <0x04040000 0x03F00000>;
                                        label = "kernel";
                                };
                                partition@08000000 {
                                        /* 128MB for JFFS2 based Root file System */
                                        reg = <0x08000000 0x08000000>;
                                        label = "filesystem";
                                };
                    };

                    qixisfpga@10000000 {
                        compatible = "fsl,d4400-fpga";
                        #address-cells = <1>;
                        #size-cells = <1>;
                        status = "okay";
                        reg = <0x10000000 0xFF>;
                    };
                };
		xcvr1 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "adi,xcvr-card";
			interrupt-parent = <&gpioA>;
			interrupts = <16 0x04>,
				<17 0x04>;
			cs-gpios = <&gpioC 16 0>,
				<&gpioC 18 0>,
				<&gpioC 19 0>;
			src-resets = <&src 3>,
				<&src 5>;
			xcvr_id = <1>;
			9368-1-handle = <&adrx1>;
			9368-2-handle = <&adtx1>;
			9525-handle = <&clkgen1>;
		};
		xcvr2 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "adi,xcvr-card";
			interrupt-parent = <&gpioA>;
			interrupts = <18 0x04>,
				<19 0x04>;
			cs-gpios = <&gpioC 20 0>,
				<&gpioC 22 0>,
				<&gpioC 23 0>;
			src-resets = <&src 4>,
				<&src 6>;
			xcvr_id = <2>;
			9368-1-handle = <&adrx2>;
			9368-2-handle = <&adtx2>;
			9525-handle = <&clkgen2>;
		};
        };

	landshark@0xc000000 { /* LandShark */
		compatible = "fsl,landshark";
		address = <0xc0000000>;
		length = <0x10000000>;
		status = "okay";
	};
};

