/*
 * Copyright 2013 Freescale Semiconductor, Inc.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */
/dts-v1/;

/include/ "d4400.dtsi"

/ {
	model = "D4400 Evaluation Board";
	compatible = "fsl,d4400";

        memory {
                reg = <0x90000000 0x60000000>;
        };

        soc@0 {
			roc1 {
				#address-cells = <1>;
				#size-cells = <1>;
				compatible = "adi,roc-card";
				interrupt-parent = <&gpioA>;
				interrupts = <16 0x04>;
				cs-gpios = <&gpioC 16 0>,
					<&gpioC 18 0>,
					<&gpioC 19 0>;
				src-resets = <&src 3>,
					<&src 5>;
				9368-1-handle = <&adrx>;
				9368-2-handle = <&adtx>;
				9525-handle = <&clkgen>;
			};
                aips-bus@1000000 { /* AIPS1 */
                        uart4: serial@f8000 {
                                pinctrl-names = "default";
                                pinctrl-0 = <&pinctrl_uart4_1>;
                                status = "okay";
                        };
			ecspi@A4000 {
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_ecspi1_1>;
				fsl,spi-num-chipselects = <3>;

				adrx: ad9368-1@2 {
					compatible = "adi,ad9368-1";
					spi-max-frequency = <20000000>;
					reg = <2>;
				};
				adtx: ad9368-2@2 {
					compatible = "adi,ad9368-2";
					spi-max-frequency = <20000000>;
					reg = <0>;
				};
				clkgen: ad9525@5 {
					compatible = "adi,ad9525";
					spi-max-frequency = <20000000>;
					reg = <1>;
				};
			};

			i2c1: i2c@C4000 {
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_i2c1_1>;

				cpriphy0: sfp0@50 {
					compatible = "finisar-FTLF8526P3";
					reg = <0x50 0x51 0x24>;
					max-addr = <0x3>;
					};
			
			};

			i2c2: i2c@C8000 {
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_i2c2_1>;

				cpriphy1: sfp1@50 {
					compatible = "finisar-FTLF8526P3";
					reg = <0x50 0x51 0x24>;
					max-addr = <0x3>;
					};

			};

			i2c3: i2c@CC000 {
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_i2c3_1>;

				cpriphy2: sfp2@50 {
					compatible = "finisar-FTLF8526P3";
					reg = <0x50 0x51 0x24>;
					max-addr = <0x3>;
					};

			};

                };

                aips-bus@1200000 { /* AIPS2 */
                        #address-cells = <1>;
                        #size-cells = <1>;

			i2c5: i2c@DC000 {
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_i2c5_1>;

				cpriphy3: sfp3@50 {
					compatible = "finisar-FTLF8526P3";
					reg = <0x50 0x51 0x24>;
					max-addr = <0x3>;
					};
			};

		};


                weim-bus@30000000 {
                        nor_flash@0 {
                                compatible = "cfi-flash";
                                bank-width = <2>;
				/* 256MB of NOR Flash memory*/
                                reg = <0x0 0x10000000>;
                                #address-cells = <1>;
                                #size-cells = <1>;
                                status = "okay";

                                partition@0 {
                                        /* This location must not be altered */
                                        /* NOR U-Boot Image-512KB */
                                        reg = <0x0 0x00080000>;
                                        label = "bootloader";
                                        read-only;
                                };
                                partition@00080000 {
                                        /* 128KB of env variables*/
                                        reg = <0x000080000 0x00020000>;
                                        label = "environment";
                                };
                                partition@000A0000 {
                                        /* 128KB of redundant env variables*/
                                        reg = <0x000A0000 0x00020000>;
                                        label = "redundant-environment";
                                };
                                partition@000C0000 {
                                        /* 4 MB for Linux Kernel Image */
                                        reg = <0x000C0000 0x00400000>;
                                        label = "kernel";
                                };
                                partition@004C0000 {
                                        /* 40MB for JFFS2 based Root file System */
                                        reg = <0x004c0000 0x02800000>;
                                        label = "filesystem";
                                };
                                partition@02cc0000 {
                                        /* 1MB of Device Tree */
                                        reg = <0x02cc0000 0x00100000>;
                                        label = "devicetree";
                                };
                                partition@02dc0000 {
                                        /* 210MB User Space*/
                                        reg = <0x02dc0000 0x0d240000>;
                                        label = "user_space";
                                };
			};
                };
        };

	landshark@0xc000000 { /* LandShark */
		compatible = "fsl,landshark";
		address = <0xc0000000>;
		length = <0x10000000>;
		status = "okay";
	};
};

